name: Build and release

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - classifier: x86_64
            platform: linux/amd64
            base-image: debian:oldoldstable-slim
            runner: ubuntu-latest

          - classifier: aarch64
            platform: linux/arm64
            base-image: debian:oldoldstable-slim
            runner: ubuntu-24.04-arm

          - classifier: armv7l-rpi3
            platform: linux/arm/v7
            subvariant: rpi3
            base-image: debian:oldoldstable-slim
            runner: ubuntu-24.04-arm

          - classifier: armv7l-rpi2
            platform: linux/arm/v7
            subvariant: rpi2
            base-image: debian:oldoldstable-slim
            runner: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: rlespinasse/github-slug-action@v4

      - name: Setup qemu for docker
        uses: docker/setup-qemu-action@v3
        if: matrix.platform != 'linux/amd64' && matrix.platform != 'linux/arm64'

      - name: Setup buildx for docker
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          outputs: build
          build-args: |
            BASE_IMAGE=${{ matrix.base-image }}
            TARGET_PLATFORM=${{ matrix.platform }}
            TARGET_SUBVARIANT=${{ matrix.subvariant }}
            TARGET_ID=${{ matrix.classifier }}
            VERSION=${{ env.GITHUB_REF_NAME }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ matrix.classifier }}
          path: build/*
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: artifacts-*
          path: assets
          merge-multiple: true

      - uses: rlespinasse/github-slug-action@v5

      - name: Package artifacts
        shell: bash
        run: |
          cd assets
          find . -maxdepth 1 -type f | while IFS=/ read dir file; do
            mv -v "${file}" "${GITHUB_REPOSITORY_NAME_PART_SLUG}-${GITHUB_REF_NAME_SLUG}-${file}"
          done

      - name: Create checksum for release assets
        shell: bash
        run: |
          algo="${SHA_ALGORITHM:-256}"
          find assets -type f | while read -r asset; do
            shasum --binary --algorithm "${algo}" "${asset}" >"${asset}.sha${algo}"
          done

      - name: Upload artifacts to GitHub release
        uses: softprops/action-gh-release@v2
        with:
          draft: ${{ !startsWith(github.ref, 'refs/tags/') }}
          files: assets/*
          fail_on_unmatched_files: true
